@model Orden

<!DOCTYPE html>  
<html lang="en">  
<head>
    <link rel="stylesheet" href="ticket.css" />
</head>
    <body>
        <table class="header" style=" width:300px;">

            <tr><td colspan="2"><h3>INGENIERIA E INFORMATICA KING SOFTWARE SAC</h3></td></tr>
            <tr><td colspan="2">A.H BELLA DURMIENTE MZB LT 19</td></tr>
            <tr><td colspan="2">RUC: 2542471256</td></tr>
            <tr><td colspan="2"></td></tr>
            <tr><td colspan="2"><h3>FACTURA ELECTRONICA</h3></td></tr>
            <tr><td colspan="2" style="text-align:left">Serie/Numero: @Model.IdOrden</td></tr>
            <tr><td colspan="2" style="text-align:left">Fecha: 2018-05-18</td></tr>
            <tr><td colspan="2" style="text-align:left">Docu: 43679394</td></tr>
            <tr><td colspan="2" style="text-align:left">Cliente: @Model.Cliente</tdcolspan="2"></tr>
            <tr><td colspan="2" style="text-align:left">Direccion: Jr Hermilio Valdizan 123</td></tr>
            <tr><td colspan="2"></td></tr>

            <tr>
                <td width="200" style="text-align:left">Producto</td>
                <td width="100" style="text-align:right">Precio</td>
            </tr>

            @foreach (var prod in Model.Productos)
            {
                <tr>
                    <td style="text-align:left">@prod.Nombre</td>
                    <td style="text-align:right">@prod.Total</td>
                </tr>
            }

            <tr>
                <td class="total">Total</td>
                <td class="precio total">@Model.Total</td>
            </tr>



            <tr>
                <td style="text-align:left">
                    OP. GRAVADAS S/
                </td>
                <td style="text-align:right">
                    4.24
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    OP. EXONERADAS S/
                </td>
                <td style="text-align:right">
                    0.00
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    OP. INAFECTAS S/
                </td>
                <td style="text-align:right">
                    0.00
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    OP. GRATUITA S/
                </td>
                <td style="text-align:right">
                    0.00
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    I.S.C. S/
                </td>
                <td style="text-align:right">
                    0.00
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    TOTAL DESCUENTO S/
                </td>
                <td style="text-align:right">
                    0.00
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    IGV 18% S/
                </td>
                <td style="text-align:right">
                    0.76
                </td>
            </tr>
            <tr>
                <td style="text-align:left">      TOTAL S/   </td>
                <td style="text-align:right">   5.00</td>
            </tr>
            <tr><td colspan="2"></td></tr>
            <tr><td colspan="2"></td></tr>
            <tr>
                <td colspan="2">
                    Valor Resumen : asfksdkhjgfdg76asd990/=
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Puede visualizar su comprobante en: goo.fg/23fg
                </td>
            </tr>

        </table>
    
	
    </body>
</html>  